<!-- 底部 -->
<div class="footer J-footer">
    <div class="footer-copy" style="width: 100%;">
        <ul class="share-all-box">
            <li>
                <a href="https://www.facebook.com/JollyChicStyle"><img class="img-auto-width lazyImg" src="images/detailImg/icon_01_fb.png" data-src="/asset/images/app/icon/icon_01_fb.png" style="display: block;"></a>
            </li>
            <li>
                <a target="_blank" href="http://instagram.com/jollychic_official"><img class="img-auto-width lazyImg" src="images/detailImg/icon_08_insta.png" data-src="/asset/images/app/icon/icon_08_insta.png" style="display: block;"></a>
            </li>
            <li>
                <a target="_blank" href="htp://thejollychic.tumblr.com/"><img class="img-auto-width lazyImg" src="images/detailImg/icon_02_t.png" data-src="/asset/images/app/icon/icon_02_t.png" style="display: block;"></a>
            </li>
            <li>
                <a target="_blank" href="http://m.youtube.com/c/Jollychic"><img class="img-auto-width lazyImg" src="images/detailImg/icon_03_ytb.png" data-src="/asset/images/app/icon/icon_03_ytb.png" style="display: block;"></a>
            </li>
            <li>
                <a target="_blank" href="http://pinterest.com/jollychic/"><img class="img-auto-width lazyImg" src="images/detailImg/icon_04_pin.png" data-src="/asset/images/app/icon/icon_04_pin.png" style="display: block;"></a>
            </li>
            <li>
                <a target="_blank" href="https://plus.google.com/103786942199652537004"><img class="img-auto-width lazyImg" src="images/detailImg/icon_05_g.png" data-src="/asset/images/app/icon/icon_05_g.png" style="display: block;"></a>
            </li>
            <li>
                <a target="_blank" href="http://jollychic.polyvore.com/"><img class="img-auto-width lazyImg" src="images/detailImg/icon_06_p.png" data-src="/asset/images/app/icon/icon_06_p.png" style="display: block;"></a>
            </li>
            <li>
                <a target="_blank" href="http://blog.jollychic.com/"><img class="img-auto-width lazyImg" src="images/detailImg/icon_07_b.png" data-src="/asset/images/app/icon/icon_07_b.png" style="display: block;"></a>
            </li>
        </ul>
    </div>
    <div class="footer-col">
        <div class="header-currency">
            <div class="sel-wrap cr">
                <label>
                    English
                </label>
                <img class="img" src="images/detailImg/icon_right_aside_01.png" height="10" alt="">
                <select class="select J-language-select">
                    <option class="J-en" data-lang="en" selected="">English</option>
                    <option class="J-ar lang_ar" data-lang="ar">العربية</option>
                    <option class="J-pl lang_pl" data-lang="pl">Polski</option>
                    <option class="J-tw lang_tw" data-lang="tw">繁體中文</option>
                </select>
            </div>
        </div>
        <div class="header-currency">
            <div class="sel-wrap cr">
                <i class="lang-currency usd"></i>
                <label>USD</label>
                <img class="img lazyImg" src="images/detailImg/icon_right_aside_01.png" data-src="/asset/images/app/icon/icon_right_aside_01.png" height="10" alt="" style="display: inline;">
                <select class="select J-joly-currency-list">
                    <option value="aed">AED AED</option>
                    <option value="mxn">MXN MXN</option>
                    <option value="aud">AUD AUD</option>
                    <option value="nzd">NZD NZD</option>
                    <option value="bhd">BHD BHD</option>
                    <option value="pln">PLN PLN</option>
                    <option value="cad">CAD CAD</option>
                    <option value="qar">QAR QAR</option>
                    <option value="eur">EUR €</option>
                    <option value="sar">SAR SAR</option>
                    <option value="gbp">GBP £</option>
                    <option value="sgd">SGD SGD</option>
                    <option value="kwd">KWD KWD</option>
                    <option value="usd" selected="selected">USD $</option>
                    <optionvalue="inr">INR INR</option>
                        <option value="try">TRY TL</option>
                        <option value="sek">SEK SEK</option>
                        <option value="chf">CHF CHF</option>
                        <option value="nok">NOK NOK</option>
                </select>
            </div>
        </div>
    </div>
    <div class="footer-col">
        <a href="https://itunes.apple.com/app/jollychic-affordable-fashion/id944846798?mt=8" target="_blank" class="apple">&nbsp;</a>
        <a href="https://play.google.com/store/apps/details?id=com.jollycorp.jollychic&amp;referrer=utm_source%3Dqrcode%26utm_medium%3Dreferral" class="android" target="_blank">&nbsp;</a>
    </div>
    <div class="footer-norton">
        <span class="norton">
        <a rel="nofollow" href="javascript:vrsn_splash();" id="get_seal" tabindex="-1" class="get_eal" alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security"><img class="lazyImg" src="images/detailImg/norton.png" data-src="/asset/images/app/norton.png" alt="norton" style="display: inline;"></a>
        </span>
        <span class="norton-info">
        <ul>
        <li>Your order is safe and secure.</li>
        <li>Your satisfaction is 100% guaranteed.</li>
        </ul>
        </span> 
    </div>
    <div class="footer-list">
        <div class="payfooter">
            <img class="lazyImg" src="images/detailImg/footer-pay-new.png" data-src="/asset/images/app/footerpay-new.png" data-at2x="/asset/images/app/footer-pay-new.png" alt="jollychic" width="286" height="21" style="display: inline;"> </div>
        <ul class="fn-clear fn-hide">
            <li>
                <a href="https://www.jollychic.com/?frm=wap">PC Edition</a>
            </li>
        </ul>
    </div>
</div>
