html {
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
    /*overflow: hidden !important;*/
}
html::-webkit-scrollbar{width:0px}


body{
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Microsoft YaHei','YaHei WebFont',Verdana,Geneva,Tahoma,sans-serif,'宋体';
    /*overflow: hidden !important;*/
}

a:hover{
    text-decoration: none;
    color: #333;
}
.navbar-default .navbar-nav > li > a{
    font-size: 16px;
    color: #fff;
}

@media (min-width: 998px){
   .navbar-default .navbar-collapse .navbar-respond {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
    .navbar-default .navbar-collapse ul.navbar-respond li {
        display: inline-block;
        float: none;
    } 
}

.navbar-brand img{
    height: 40px;
}
.navbar-default .navbar-nav.navbar-right>li>a,.navbar-default .navbar-nav.navbar-right>li>a:hover,.navbar-default .navbar-nav.navbar-right>li>a:focus{
    color: #fa9e00;
    background-color: transparent;
}

#dowebok .home{
    background: url(../images/home_bg.jpg) no-repeat center center;
    background-size: cover;
}
#dowebok .services{
    background: url(../images/service_bg.jpg) no-repeat center center;
    background-size: cover;
}
#dowebok .news{
    background: url(../images/new_bg.jpg) no-repeat center center;
    background-size: cover;
}
#dowebok .clients{
    background: url(../images/clients_bg.jpg) no-repeat center center;
    background-size: cover;
}
#dowebok .contacts{
    background: url(../images/contact_bg_01.jpg) no-repeat center center;
    background-size: cover;
}
#dowebok .home-content,.slider-content{
    text-align: center;
}
.title-text{
    color:#fff;
}
.title-text .title-china{
    font-size: 40px;
    margin-top: 45px;
    letter-spacing: 5px;
}
.title-text .title-english{
    font-size: 16px;
    letter-spacing: 3px;
}
.home-logo div{
    display: inline-block;
}


/*abouts*/
.abouts .swiper-container{
    height: 100%;
}
#dowebok .abouts .swiper-slide.slider1{
    background: url(../images/about_banner/banner_01.jpg) no-repeat center center;
    background-size: cover;
}
#dowebok .abouts .swiper-slide.slider2{
    background: url(../images/about_banner/banner_02.jpg) no-repeat center center;
    background-size: cover;
}
#dowebok .abouts .swiper-slide.slider3{
    background: url(../images/about_banner/banner_03.jpg) no-repeat center center;
    background-size: cover;
}
.swiper-button-next, .swiper-button-prev{
    width: 50px;
    height: 50px;
    background-size: cover;
}
.swiper-button-prev{
    background-image: url(../images/prev-btn.png);
    margin-left: 10%;
}
.swiper-button-next{
    background-image:url(../images/next-btn.png);
    margin-right: 10%;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom:100px;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border:1px solid #fff;
    opacity: 1;
    background-color: transparent;
}
.swiper-pagination-bullet-active{
    background-color: #d5a36c;
}

.backtip{
    /*width: 100%;
    height: 100%;*/
    background-color: rgba(0,0,0,.2);
    padding-top: 15%;
}
.slider-content{
    width: 100%;
    height: 410px;
    background-color: rgba(0,0,0,.1);
    padding:20px;
}
.abouts .about-title{
    font-size: 36px;
}
.abouts .text-detail{
    font-size: 16px;
    padding:50px 180px 20px;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: left;
}


/*service*/
.services-content,.news-content{
    padding-top:150px;
    text-align: center;
    height: 100%;
}
.content-title{
    font-size: 36px;
    letter-spacing: 2px;
}
.content-title p span{
    font-weight: 800;
    display: inline-block;
    margin: 0px 15px;
}
.content-title p span:last-child{
    font-size: 26px;
    font-weight: normal;
    color: #f3f3f3;
}
.content-container{
    padding-top: 20%;
}
.services-icon{
    margin-bottom: 20px;
}
/*.services-icon.icon-home{
    background: url(../images/service_home.png) no-repeat center center;
}
.services-icon.icon-network{
    background: url(../images/service_network.png) no-repeat center center;
}
.services-icon.icon-bussiess{
    background: url(../images/service_bussiess.png) no-repeat center center;
}
.services-icon.icon-hotel{
    background: url(../images/service_hotel.png) no-repeat center center;
}*/
.services-item img{
    width: 80px;
    height: 80px;
}
.services-item h3{
    font-size: 18px;
}
.content-container .col-xs-12{
    padding:30px 0;
}
.services-item p {
    margin:0 20px;
    position: absolute;
    box-sizing: border-box;
    padding: 30px;
    display: block;
    /*width: 100%;*/
    /*height: 100%;*/
    top: -35px;
    transform: scale(0);
    background-color: rgba(250,158,0,.85);
    color: #333;
    text-align: left;
    font-size: 14px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}
.services-item:hover p {
    transform: scale(1);
}
.services-item p>span{
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;   
}
.services-item p>a{
    margin:0 auto;
    margin-top:35px;
}
.common-btn,.common-btn-white{
    display: block;
    border:1px solid #333;
    width: 60px;
    text-align: center;
    color: #333;
}
.common-btn>i,.common-btn-white>i{
     font-size: 20px;
}
.common-btn-white{
    color: #fff;
    border-color: #fff;
}


/*news*/

.news-content-container,.clients-content-container{
    padding-top: 8%;
}
.news-item{
    text-align: left;
}
.news-item:hover,.common-btn-yellow>i{
    color: #fa9e00;
}
.common-btn-yellow{
    color:#fa9e00;
    border-color: #fa9e00;
}
.news-time{
    margin-bottom: 30px;
    font-size: 30px;
}
.news-time>span{
    font-size: 40px;
}
.news-title{
    font-size: 16px;
    margin-bottom: 20px;
}
.news-text{
    font-size: 14px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.news-item a.common-btn-white{
    margin-top:50px;
}


/*clients*/
/*.clients-item .logo-item p{
    display: none;
}*/
.clients-item .logo-item img{
    width: 220px;
    height: 98px;
    margin-bottom: 20px;
    transform: scale(1);
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.clients-item .logo-item img:hover{
    transform: scale(1.2);
}


/*contacts*/

.section .news-content{
    padding-bottom: 0px;
}
.contacts .container{
    padding-top:100px;
}
.contact-item-1{
    font-size: 16px;
    text-align: left;
}
.contact-item-1 img{
    margin-bottom: 20px;
}
.contact-item-1 div{
    margin-bottom: 10px;
}
.contact-item-2 {
    padding-left: 100px;
}
.contant-btns{
    margin-top: 30px;
}
.btn{
    border-radius: 0;
    background-color: transparent;
    border:1px solid #fff;
}
.btn:hover{
    color:#fff;
    background-color: #d28b0f;
    border-color: #383a3b;
}
.email-btn{
    margin-right: 30px;
}
.footer{
    margin-top: 200px;
}


.circle-one{
    width: 120px;
    height: 120px;
    background-color: #b9bfc3;
    border-radius: 100% 0 0 0;
    position: relative;
}
.circle-two{
    width: 200px;
    height: 200px;
    background-color: #212120;
    border-radius: 100%;
    position: absolute;
    left: 20px;
    top:20px;
}
.circle-two img{
    width: 120px;
    height: 120px;
    position: absolute;
    top:40px;
    left: 40px;
}






.clients-item .logo-item p{
    display: none;
}
.clients-item .logo-item img{
    display: block;
}







.scroll-down {
    position: absolute;
    bottom: -27px;
    left: 50%;
    z-index: 5;
    display: inline-block;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    padding-top: 70px;
}

.scroll-button {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    z-index: 30;
    /*color: rgba(255,255,255,.7);*/
    color:#fa9e00;
    width: 18px;
    height: 18px;
    text-align: center;
    transition: all .2s ease-in-out;
    opacity: .5;
    -webkit-animation: sdb05 1.5s infinite;
    -moz-animation: sdb05 1.5s infinite;
    -o-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
    border-left: 2px solid #fa9e00;
    border-bottom: 2px solid #fa9e00;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: -12px;
}

@keyframes sdb05{
    0% {
        transform: rotate(-45deg) translate(0,0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-20px,20px);
        opacity: 0;
    }
}
.down-button {
    bottom: 70px;
}
.down-button:first-child {
    bottom: 78px;
    -webkit-animation-delay: .15s;
    -moz-animation-delay: .15s;
    -o-animation-delay: .15s;
    animation-delay: .15s;
}
.home-logo{
    font-size: 28px;
}



.fp-tableCell{
    height: 100% !important;
}
@media (max-width: 1660px){
    .content-container{
        padding-top: 15%;
    }
    .news-content-container, .clients-content-container{
        padding-top: 5%;
    }
}
@media (min-width: 1280px) and (max-width: 1360px){
    .content-container{
        padding-top: 10%;
    }
    .news-content-container, .clients-content-container{
        padding-top: 3%;
    }
    .contacts .container{
        padding-top: 50px;
    }
    .footer{
        margin-top: 50px;
    }
}
@media (max-width: 1280px) {
    .content-container{
        padding-top: 20%;
    }
    .abouts .container{
        padding-top: 10%;
    }
    .news-content-container, .clients-content-container{
        padding-top: 12%;
    }
    .footer{
        margin-top: 180px;
    }
}
@media (max-width: 998px){
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        margin-right: 5px;
        margin-top: 5px;
    }
    .navbar-nav > li{
        margin:0px;
    }
    .nav:after{
        clear: none;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 12px;
    }
    .navbar-brand img{
        height: 30px;
    }
    .navbar-toggle{
        margin-top: 17px;
    }
    .backtip{
        padding-top: 30%;
    }
    .content-container {
        padding-top: 15%;
    }
    .services-content {
        padding-top: 120px;
    }
    .news-content{
        padding-top: 80px;
    }
    .content-title{
        font-size: 24px;
    }
    .content-container .col-xs-12{
        padding: 50px;
    }
    .content-title p span:last-child{
        font-size: 18px;
    }
    .abouts .text-detail{
        padding: 50px 65px 20px;
    }
    .news-content-container{
        padding-top: 0px;
    }
    .news-item a.common-btn-white{
        margin-top: 30px;
    }
    .news-time{
        font-size: 20px;
    }
    .news-time>span{
        font-size: 24px;
    }
    .clients-content-container{
        margin-top: 50px;
        padding-top: 5%;
    }
    .clients-item .logo-item img{
        margin: 20px 0;
    }
    .contacts .clients-content-container{
        margin-top: 0px;
        padding-top: 0px;
    }
    .contacts .container{
        padding-top: 50px;
    }
    .contact-item-1{
        font-size: 20px;
        margin-bottom: 40px;
    }
    .contact-item-2{
        padding-left: 85px;
    }
    .btn{
        font-size: 18px;
        padding: 10px 135px;
    }
    .contant-tel>span{
        color:#fff !important;
    }
}

@media (max-width: 600px) {
    .home-logo img{
        width: 100px;
    }
    .backtip{
        padding-top: 45%;
    }
    .abouts .container{
        padding-top: 0px;
    }
    .title-text .title-china{
        font-size: 18px;
        letter-spacing: 2px;
        margin-top: 40px;
    }
    .title-text .title-english{
        font-size: 12px;
        letter-spacing: 1px;
        word-wrap:break-word;
    }
    .swiper-button-next, .swiper-button-prev{
        width: 30px;
        height: 30px;
    }
    .swiper-button-prev{
        margin-left: 0;
    }
    .swiper-button-next{
        margin-right: 0;
    }
    .abouts .text-detail{
        font-size: 12px;
        padding:0;
        line-height: 20px;
        letter-spacing: 1px;
    }
    .content-container{
        padding-top: 0px;
    }
    .content-title{
        font-size: 18px;
    }
    .content-title p span:last-child,.services-item p>span{
        font-size: 14px;
    }
    .news-content{
        padding-top:60px;
    }
    .services-content,.contacts .news-content{
        padding-top: 80px;
    }
    .services-item img{
        width: 50px;
        height: 50px;
    }
    .services-item h3{
        font-size: 12px;
        margin-top: 10px;
    }
    .services-icon{
        margin-bottom: 10px;
    }
    .content-container .col-xs-12{
        padding:10px 0;
    }
    .services-item p{
        padding: 10px;
        font-size: 12px;
        top:-32px;
    }
    .services-item p>a{
        margin-top: 0px;
    }
    .services-item p>span{
        margin-bottom: 5px;
    }

    .common-btn, .common-btn-white{
        width: 50px;
    }
    .common-btn>i, .common-btn-white>i{
        font-size: 16px;
    }
    .news-content-container, .clients-content-container{
        padding-top: 0px;
    }
    .news-time{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom:15px;
    }
    .news-time>span{
        font-size: 14px;
    }
    .news-title{
        font-size: 14px;
        margin-bottom: 0px;
    }
    .news-text {
        font-size: 12px;
        line-height: 16px;
    }
    .news-item a.common-btn-white{
        margin-top: 0px;
    }
    .news-text{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        display: block;
    }
    .common-btn>i, .common-btn-white>i{
        font-size: 12px;
    }
    .clients-item .logo-item img{
        display: none;
    }
    .clients-item .logo-item p{
        display: block;
        margin-bottom: 10px;
    }
    .contacts .news-content{
        padding-top: 60px;
    }
    .contacts .container {
        padding-top: 10px;
    }
    .contact-item-1{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .contact-item-1 img{
        width: 150px;
        margin-bottom: 10px;
    }
    .contact-item-1 div{
        margin-bottom: 5px;
    }
    .contant-btns{
        margin-top: 10px;
    }
    .btn{
        font-size: 12px;
        width: 100%;
        padding: 8px 0;
        margin-bottom: 5px;
    }
    .btn.email-btn{
        margin-right: 0px;
    }
    .contact-item-2{
        padding-left: 15px;
    }
    .circle-one{
        width: 70px;
        height: 70px;
    }
    .contact-item-2 .circle-two img{
        width: 70px;
        height: 70px;
        left: 20px;
        top: 20px;
    }
    .circle-two{
        width: 110px;
        height: 110px;
        left: 15px;
        top: 15px;
    }
    .footer {
        margin-top: 50px;
        font-size: 12px;
    }
    .news .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 30px;
    }
    .home-logo{
        font-size: 14px;
    }
    .home-logo img{
        width: 40px;
    }
    .clients-content-container{
        margin-top: 20px;
    }

}

@media (min-width: 375px) and (max-width: 700px) {
    .title-text .title-china{
        margin-top: 20px;
    }
    .content-container .col-xs-12{
        padding: 5% 0;
    }
    .services-item p{
        top: -5px;
    }
    .news-text{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: clip;
        white-space: normal;
    }
    .news-time{
        margin-top: 30px;
    }
    .clients-item .logo-item p{
        margin-bottom: 15px;
    }
    .contacts .clients-content-container{
        margin-top: 30px;
    }
    .btn{
        margin-bottom: 10px;
    }
    .contact-item-2{
        padding-left: 35px;
    }
    .footer{
        margin-top: 110px;
    }
}

.opacityHide{
    opacity: 0;
}
.opacityShow{
    opacity: 1;
}
.delay-3{
    animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
}
.delay-6{
    animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}
.delay-9{
    animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
}
.delay-12{
    animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
}