<!-- 头部 -->
<div class="header-box J-header-box relative">
    <div class="header grid-header">
        <div class="col-main">
            <div class="main-wrap">
                <div class="header-logo J-header-serach-close">
                    <a href="index.html">
                        <img src="images/detailImg/en-logo-new.png" alt="jollychic">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sub">
            <div class="header-list J-header-list">
                <span class="header-list-icon"></span>
            </div>
        </div>
        <div class="col-extra">
            <div class="fn-clear">
                <div class="header-cart fn-clear">
                    <a href="https://m.jollychic.com/FlowAction/cart">
                        <span class="header-cart-icon"></span>
                        <span class="header-cart-num animated J-header-cart-num fn-hide">0</span>
                    </a>
                </div>
                <div class="header-search J-header-serach-close">
                    <span class="J-header-search-btn"><i class="header-search-icon"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-serach-cnt-box J-header-serach-cnt-box" style="display: none;">
        <div class="header-serach-cnt J-header-serach-cnt fn-clear">
            <form>
                <div class="header-search-input-box">
                    <a href="javascript:void(0);" class="J-header-search-close">
                        <img src="images/detailImg/icon_search_close.png" data-at2x="/asset/images/app/icon/icon_search_close@2x.png">
                    </a>
                    <input type="search" value="Ramadan Surprises" placeholder="Search" class="search-input J-header-search">
                </div>
                <input type="submit" value="Go" class="search-button J-header-search-button">
            </form>
        </div>
    </div>
    <div class="goods-add-success-fixed J-goods-add-success-fixed" style="display: none;">
        <div class="col-main">
            <div class="main-wrap">
                <dl>
                    <dt class="J-success-attr"></dt>
                    <dd class="J-success-attr-number" data-l18n01="item" data-l18n02="items"></dd>
                    <dd class="J-addNote" data-l18n03="Only" data-l18n04="left in stock">Added to bag.</dd>
                    <dd><a href="https://m.jollychic.com/cart.html" class="J-view-bag view-bag-fixed">VIEW BAG</a></dd>
                </dl>
            </div>
        </div>
        <div class="col-sub J-col-sub"><img src="images/detailImg/loading.gif" class="img-auto-width"></div>
    </div>
</div>